# SQL-1. Практические задания

## Задание 5.1

Какой режиссёр снял самый старый фильм в списке?

```sql
   SELECT director
     FROM SQL.kinopoisk
 ORDER BY YEAR
    LIMIT 1
```

**Чарльз Чаплин**

## Задание 5.2

В каком году был выпущен фильм, который занимает 111 строку в списке, отсортированном по рейтингу в порядке убывания?
При равенстве рейтинга отсортируйте по названию фильма в алфавитном порядке.


```sql
   SELECT YEAR
     FROM SQL.kinopoisk
 ORDER BY rating DESC,
          movie_title ASC
   OFFSET 110
    LIMIT 1
```

**2005**

## Задание 5.3

Напишите запрос, который выводит столбцы «Название фильма» (`movie_title`), «Режиссёр» (`director`), «Сценарист» (`screenwriter`), «Актёры» (`actors`). Оставьте только те фильмы, у которых:

* рейтинг между 8 и 8.5 (включительно) ИЛИ год выхода в прокат до 1990;
* есть описание;
* название начинается не с буквы 'Т';
* название состоит ровно из 12 символов.

Оставьте только топ-7 фильмов, отсортированных по рейтингу.

```sql
   SELECT movie_title,
          director,
          screenwriter,
          actors
     FROM SQL.kinopoisk
    WHERE (
          rating BETWEEN 8 AND 8.5
       OR YEAR < 1990
          )
      AND (overview IS NOT NULL)
      AND (movie_title NOT LIKE 'Т%')
      AND (movie_title LIKE '____________')
 ORDER BY rating DESC
    LIMIT 7
```