# SQL-02. Агрегатные функции.

## Данные о покемонах

В этом модуле мы познакомимся с агрегатными функциями.

И помогут нам в этом... покемоны! Как? Да очень просто!

На протяжении всего модуля мы будем работать с таблицей sql.pokemon, содержащей данные о покемонах и их характеристиках из классических видеоигр.

Давайте познакомимся с нашими покемонами и данными о них!

Присмотримся к содержимому таблицы sql.pokemon: в ней хранится информация о покемонах.


| Название поля	| Содержимое                |
|---------------|---------------------------|
| id            | уникальный идентификатор  |
| name          | имя                       |
| type1         | основной тип              |
| type2         | дополнительный тип        |
| hp            | количество очков здоровья |
| attack        | показатели атаки          |
| defense       | показатели защиты         |
| speed         | показатели скорости       |

**Агрегатные функции** помогают вычислять сводные значения для группы строк.

## Убираем повторы

Для начала получим все основные типы покемонов.


```sql
SELECT
    type1
FROM sql.pokemon
```

Видно, что типы повторяются, потому что в результате запроса вы получаете все строки, которые подходят под заданные условия.

Чтобы получить уникальные значения из столбца, воспользуемся ключевым словом `DISTINCT`.


```sql
SELECT DISTINCT
    type1
FROM sql.pokemon

```

Получим, например, все уникальные пары основного и дополнительного типов для покемонов.


```sql
SELECT DISTINCT
    type1,
    type2
FROM sql.pokemon
```

Обратите внимание! `DISTINCT` пишется только один раз, в начале списка получаемых столбцов.

## Основные агрегатные функции

### Подсчёт количества строк

Давайте посчитаем количество строк в таблице. Для этого применим агрегатную функцию `COUNT`.


```sql
SELECT
    COUNT(*)
FROM sql.pokemon
```

`COUNT` считает строки, а звёздочка (`*`) в аргументе функции означает, что считаются все строки, которые возвращает запрос.

**Если в аргументе функции указать название столбца, функция обработает только строки с непустым значением.**

**Задание 3.1**

Сколько покемонов имеет дополнительный тип?

```sql
SELECT
    COUNT(type2)
FROM sql.pokemon
```

**Ответ:** 414

Внутри функции `COUNT` мы можем также применять `DISTINCT`, чтобы вычислить количество уникальных значений.


```sql
SELECT
    COUNT(DISTINCT type1)
FROM sql.pokemon
```

**Задание 3.2**

Совпадает ли количество различных основных и дополнительных типов?

**Ответ:** Совпадает

### Описание функций

Назовём основные агрегатные функции, с которыми нам предстоит работать:

* `COUNT` — вычисляет число непустых строк;<br><br>
* `SUM` — вычисляет сумму;<br><br>
* `AVG` — вычисляет среднее;<br><br>
* `MAX` — вычисляет максимум;<br><br>
* `MIN` — вычисляет минимум.<br><br>

**Задание 3.3**

Найдите максимальное значение атаки среди всех покемонов.


```sql
SELECT
    MAX(attack)
FROM sql.pokemon
```

**Ответ:** 190

Разумеется, вы можете использовать в запросе фильтрацию строк с помощью `WHERE`, чтобы получить агрегированное значение только для отдельных строк.

**Задание 3.4**

```sql
SELECT
    AVG(hp)
FROM sql.pokemon
WHERE type1 = 'Dragon'
```

**Ответ:** 83

### Несколько функций в одном запросе

Кроме того, мы можем применять несколько агрегатных функций в одном запросе.


```sql
SELECT
    COUNT(*) AS "всего травяных покемонов",
    COUNT(type2) AS "покемонов с дополнительным типом",
    AVG(attack) AS "средняя атака",
    AVG(defense) AS "средняя защита"
FROM sql.pokemon
WHERE type1 = 'Grass'
```

**ДОПОЛНИТЕЛЬНО**

С полным перечнем существующих агрегатных функций вы можете ознакомиться в [официальной документации](https://postgrespro.ru/docs/postgrespro/11/functions-aggregate).

### Задание 3.5

Напишите запрос, который выведет:

* количество покемонов (столбец `pokemon_count`),<br><br>
* среднюю скорость (столбец `avg_speed`),<br><br>
* максимальное и минимальное число очков здоровья (столбцы `max_hp` и `min_hp`)<br><br>

для электрических (`Electric`) покемонов, имеющих дополнительный тип и показатели атаки или защиты больше 50.


```sql
SELECT
    COUNT(*) AS pokemon_count,
    AVG(speed) AS avg_speed,
    MAX(hp) AS max_hp,
    MIN(hp) AS min_hp
FROM sql.pokemon
WHERE type1='Electric' AND 
      type2 IS NOT Null AND
      (attack > 50 OR defense > 50)
```

## Группировка

Как мы помним, агрегатные функции вычисляют какой-то параметр для набора строк.

Прежде мы применяли агрегатные функции для всего вывода, а сейчас используем для различных групп строк. Поможет нам в этом ключевое слово `GROUP BY`.

`GROUP BY` используется для определения групп выходных строк, к которым могут применяться агрегатные функции.


```sql
SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY type1
ORDER BY type1
```

Конечно же, можно сортировать по столбцу с агрегированием.

Представим ТОП существующих типов покемонов.


```sql
SELECT
    type1 AS pokemon_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY pokemon_type
ORDER BY COUNT(*) DESC
```

**Обратите внимание!** Мы использовали в группировке не название столбца, а его алиас.

**Задание 4.1**

Напишите запрос, который выведет:

* число различных дополнительных типов (столбец `additional_types_count`),<br><br>
* среднее число очков здоровья (столбец `avg_hp`),<br><br>
* сумму показателей атаки (столбец `attack_sum`) в разбивке по основным типам (столбец `primary_type`).<br><br>
Отсортируйте результат по числу дополнительных типов в порядке убывания, при равенстве — по основному типу в алфавитном порядке. Столбцы к выводу (обратите внимание на порядок!): `primary_type`, `additional_types_count`, `avg_hp`, `attack_sum`.


```sql
SELECT
    type1 AS primary_type,
    COUNT(DISTINCT type2) AS additional_types_count,
    AVG(hp) AS avg_hp,
    SUM(attack) AS attack_sum
FROM sql.pokemon
GROUP BY type1
ORDER BY COUNT(type2) DESC, type1 ASC
```

Мы можем осуществлять группировку по нескольким столбцам.


```sql
SELECT
    type1 AS primary_type,
    type2 AS additional_type,
    COUNT(*) AS pokemon_count
FROM sql.pokemon
GROUP BY 1, 2
ORDER BY 1, 2 NULLS FIRST
```

**Обратите внимание!** В группировке можно указывать порядковый номер столбца так же, как мы делали это в прошлом модуле для сортировки.

`GROUP BY` можно использовать и без агрегатных функций. Тогда его действие будет равносильно действию `DISTINCT`.

Сравните выводы двух запросов:

```sql
SELECT DISTINCT 
    type1
FROM sql.pokemon
```


```sql
SELECT
    type1
FROM sql.pokemon
GROUP BY type1
```