# 2.3

Напишите функцию delete_columns(df, col=[]), которая удаляет столбцы из DataFrame и возвращает новую таблицу. Если одного из указанных столбцов не существует в таблице, то функция должна возвращать None. Удалите выбранные вами столбцы из таблицы customer_df.

```python
customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
```

In [54]:
import pandas as pd

def delete_columns(df: pd.DataFrame, col=[]) -> pd.DataFrame:
    try:
        return df.drop(columns=col)
    except Exception:
        # Exception - для codeboard, вообще можно было KeyError
        return


customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })

delete_columns(customer_df, ['number', 'cust_age'])

   cust_id  cust_sale  cust_year_birth  cust_order
0      128       0.00             2008        1400
1     1201       0.00             2000       14142
2     9832       0.20             2002         900
3     4392       0.15             2000        1240
4     7472       0.30             1961        8430

# 2.4


Задан `DataFrame` `countries_df`, содержащий следующие столбцы: название страны, население (`population`) в миллионах человек и площадь страны (`square`) в квадратных километрах.

```python
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
```

Для каждой страны рассчитайте плотность населения (количество человек на квадратный километр).

Затем по полученным данным рассчитайте среднее по плотностям населения в указанных странах. Ответ округлите до сотых.

Плотность населения рассчитывается как количество человек, проживающих на территории отдельной страны, делённое на площадь этой страны. Обратите внимание, что население в таблице представлено в миллионах.

In [55]:
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df['density'] = countries_df.population * 1000000 / countries_df.square
display(round(countries_df.density.mean(), 2))

84.93

# 3.4-3.5

В данных есть следующие признаки:

* "City" — город, где был замечен НЛО;
* "Colors Reported" — цвет объекта;
* "Shape Reported" — форма объекта;
* "State" — обозначение штата;
* "Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым).

In [56]:
import pandas as pd

ufo = pd.read_csv('data/ufo.csv')
ufo['Time'] = pd.to_datetime(ufo.Time, dayfirst=False)

## 3.4

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [57]:
ufo.Time.dt.year.mode()

0    1999
Name: Time, dtype: int64

## 3.5

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).
Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.

Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод `diff()`.

Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом `timedelta days`.

In [58]:
nv_df = ufo[ufo.State == 'NV']
diff_nv = nv_df.Time.diff()
round(diff_nv.dt.days.mean())

68

# 4.4

Представьте, что вы занимаетесь подготовкой данных о вакансиях с платформы hh.ru. В вашем распоряжении имеется таблица, в которой с помощью парсинга собраны резюме кандидатов. В этой таблице есть текстовый столбец «Опыт работы». Пример такого столбца представлен ниже в виде объекта `Series`. Структура текста в столбце фиксирована и не может измениться.

Напишите функцию `get_experience(arg)`, аргументом которой является строка столбца с опытом работы. Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.

Обратите внимание, что опыт работы может выражаться только в годах или только в месяцах. Учтите это при построении своей функции. Кроме того, учтите возможные вариации слов месяц (месяца, месяцев) и год (года, лет).

Примените вашу функцию к `Series` `experience_col` с помощью метода `apply()`.

In [59]:
import pandas as pd

def get_experience(arg):
    month_str = ['месяц', 'месяцев', 'месяца']
    year_str = ['год', 'года', 'лет']
    result_month = 0
    arg_list = arg.split()
    for i, s in enumerate(arg_list):
        if s in month_str:
            result_month += int(arg_list[i - 1])
        elif s in year_str:
            result_month += int(arg_list[i - 1]) * 12
    return result_month

if __name__ == '__main__':
    experience_col = pd.Series([
        'Опыт работы 8 лет 3 месяца',
        'Опыт работы 3 года 5 месяцев',
        'Опыт работы 1 год 9 месяцев',
        'Опыт работы 3 месяца',
        'Опыт работы 6 лет'
        ])
    
    experience_month = experience_col.apply(get_experience)
    print(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64

# Описание данных юнита "Закрепление знаний"

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

* `starttime` — время начала поездки (дата, время);
* `stoptime` — время окончания поездки (дата, время);
* `start station id` — идентификатор стартовой стоянки;
* `start station name` — название стартовой стоянки;
* `start station latitude`, `start station longitude` — географическая широта и долгота стартовой стоянки;
* `end station id` — идентификатор конечной стоянки;
* `end station name` — название конечной стоянки;
* `end station latitude`, `end station longitude` — географическая широта и долгота конечной стоянки;
* `bikeid` — идентификатор велосипеда;
* `usertype` — тип пользователя (`Customer` — клиент с подпиской на 24 часа или на три дня, `Subscriber` — подписчик с годовой арендой велосипеда);
* `birth year` — год рождения клиента;
* `gender` — пол клиента (`0` — неизвестный, `1` — мужчина, `2` — женщина).

In [60]:
import pandas as pd

bike_df = pd.read_csv("data/citibike-tripdata.csv")

In [61]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

# 6.1

Сколько пропусков в столбце `start station id`?

In [62]:
300000-299831

169

# 6.2

Какой тип данных имеют столбцы `starttime` и `stoptime`?

In [63]:
display(bike_df.starttime.dtype, bike_df.stoptime.dtype)

dtype('O')

dtype('O')

# 6.3

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [64]:
bike_df["start station id"].mode()

0    281.0
Name: start station id, dtype: float64

# 6.4

Велосипед с каким идентификатором является самым популярным?

In [65]:
bike_df.bikeid.mode()

0    33887
Name: bikeid, dtype: int64

# 6.5

Какой тип клиентов (столбец `usertype`) является преобладающим — `Subscriber` или `Customer`? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [66]:
bike_df.usertype.value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

# 6.6

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [67]:
bike_df.gender.value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

# 6.7

Выберите утверждения,которые соответствуют нашим данным:

In [68]:
# A Число уникальных стартовых и конечных стоянок, 
# которыми воспользовались клиенты, не равны друг другу (ВЕРНО)

print(bike_df['start station id'].nunique())
print(bike_df['end station id'].nunique())

759
765

In [69]:
# B В рассматриваемые дни минимальный возраст 
# клиента составлял 10 лет (НЕ ВЕРНО)

print(bike_df['birth year'].max())
print(bike_df['stoptime'].max())

2002
2018-09-30 00:54:32.8170

In [70]:
# C Самой непопулярной стартовой стоянкой из тех, которыми 
# воспользовались клиенты, является стоянка с названием 
# "Eastern Pkwy & Washington Ave" (ВЕРНО)

bike_df['start station name'].value_counts()

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64

In [71]:
# D Наибольшее количество поездок завершается на стоянке 
# под названием "Liberty Light Rail"

bike_df['end station name'].mode()

0    West St & Chambers St
Name: end station name, dtype: object

# 6.8

В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [72]:
bike_df = bike_df.drop(
    columns= ['start station id', 'end station id'])

In [73]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

# 6.9

Замените признак `birth year` на более понятный признак возраста клиента `age`. Годом отсчёта возраста выберите `2018` год. Столбец `birth year` удалите из таблицы. Сколько поездок совершено клиентами старше `60` лет?

In [74]:
bike_df['age'] = 2018 - bike_df['birth year']
bike_df = bike_df.drop(columns=['birth year'])
bike_df.age.value_counts()

49     43959
30     12551
28     12051
29     11704
27     11640
       ...
129        1
103        1
82         1
109        1
111        1
Name: age, Length: 91, dtype: int64

In [75]:
older_60 = bike_df.age.apply(
    lambda y: "older than 60" if y > 60 else "younger than 60")
older_60.value_counts()

younger than 60    288163
older than 60       11837
Name: age, dtype: int64

# 6.10

Создайте признак длительности поездки `trip duration`. Для этого вычислите интервал времени между временем окончания поездки (`stoptime`) и её началом (`starttime`). Сколько целых минут длилась поездка под индексом `3` в таблице?

In [40]:
bike_df.starttime = pd.to_datetime(bike_df.starttime)
bike_df.stoptime = pd.to_datetime(bike_df.stoptime)

In [41]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 27.5+ MB

In [44]:
bike_df['trip duration'] = bike_df.stoptime - bike_df.starttime
print(bike_df['trip duration'][3])

0 days 00:07:16.837000

# 6.11

Создайте «признак-мигалку» `weekend`, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [49]:
bike_df['weekend'] = bike_df.starttime.dt.day_name().apply(
    lambda x: 1 if x == 'Sunday' or x == 'Saturday' else 0
)
bike_df.weekend.value_counts()

0    184865
1    115135
Name: starttime, dtype: int64

# Задание 6.12

Создайте признак времени суток поездки `time_of_day`. 

Время суток будем определять из часа начала поездки. Условимся, что:

* поездка совершается ночью (`night`), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
* поездка совершается утром (`morning`), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
* поездка совершается днём (`day`), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
* поездка совершается вечером (`evening`), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).

Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [53]:
def get_time_of_day(t):
    if 0 <= t <= 6:
        return 'night'
    elif 6 < t <= 12:
        return 'morning'
    elif 12 < t <= 18:
        return 'day'
    elif 18 < t <= 23:
        return 'evening'

bike_df['time_of_day'] = bike_df.starttime.dt.hour.apply(get_time_of_day)
td_stat = bike_df['time_of_day'].value_counts()
print(round(td_stat['day'] / td_stat['night']))

9